---
sidebar_label: 'Verification'
sidebar_position: 1
---

# Verification

In order to receive Narrative support, you will need to verify your purchase to gain access to the Narrative Discord.

To receive the **Narrative Developer** role, you need to leave a question on the marketplace on any Narrative products containing your discord display name.

![single-verify.webp](/img/verification/single-verify.webp)

## Teams

We are more than happy to verify multiple users using the same method above. The owner of the product needs to add all the teams Discord names into the verification.

![single-verify.webp](/img/verification/multi-verify.webp)


:::note

The formatting of the question isn't required. Just something that highlights your Discord display name.

:::