---
sidebar_label: 'Discord Verification'
sidebar_position: 1
---

import DiscordLink from '/src/components/discord-link.mdx'

# Discord

<DiscordLink></DiscordLink>

## Verification

In order to receive full Narrative support, you will need to verify your purchase to gain access to the Narrative Discord channels.

To receive the **Narrative Developer** role, you need to email the Narrative email address with the invoice for the product you purchased.

<a href="mailto:contact@narrativetools.io?subject=NarrativeVerification">contact@narrativetools.io</a>

### Finding invoice

To find your invoice you have two choices.

1) Your email upon asset purchase will contain the invoice.
2) Login to Fab.com and select `Account Settings`. Inside here select **Transactions**.

## Teams

We are more than happy to verify multiple users using the same method above. The owner of the product needs to add all the teams Discord names into the verification.